html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0px;
    height: 100%;
    width: 100vh;
    background: #5fc6e8;
}

.imgCenterLudo{
    background: url('../img/centerLudo.png') no-repeat center;
    background-size: cover;
}


.imgSetaDireita{
    background: url('../img/setaDireita.png') no-repeat center;
    background-size: cover;
}

.imgSetaEsquerda{
    background: url('../img/setaEsquerda.png') no-repeat center;
    background-size: cover;
}

.imgSetaCima{
    background: url('../img/setaCima.png') no-repeat center;
    background-size: cover;
}

.imgSetaBaixo{
    background: url('../img/setaBaixo.png') no-repeat center;
    background-size: cover;
}

.imgStar{
    background: url('../img/iconStar.png') no-repeat center;
    background-size: cover;
}


.nonBorder{
    border: 0px;
}


.red {
  background-color: #ec6d71;
}

.blue {
    background-color: #6dc2f7;
}

.green{
    background-color: #53be83;
}

.yellow{
    background-color: #ffe75f;
}

.iconRed{
    color: #c90309;
}

.iconBlue {
    color: #0080d0;
}

.iconGreen {
    color: #007a37;
}

.iconYellow {
    color: #d2b300;
}

.iconP {
    display: inline-block;
    padding: 0px;
    
    transform: scale(1);
}

.iconStar{
    font-size: 200%;
}
.tam1 {
    font-size: 335%;
}

.tam2{
    font-size: 230%;
}
.tam3{
    font-size: 180%;
}
.tam4{
    font-size: 175%;
}

.tamNone{
    display: none;
}

#dado{
    width: 50%;
    height: 50%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    display: block;
    padding: 10px;
    border: 1px solid black;
    font-size: 60px;
}

#btnDado{
    display: block;
    width: 50%;
    height: auto;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #cacaca;
}

table{
    margin-top: 10%;
    min-width: 100px;
    min-height: 100px;
    width: 100vh;
    border-collapse: collapse;
    border: solid 2px black;
    background-color: rgb(255, 255, 255);
}

td {
    border-collapse: collapse;
    border: solid 2px black;
    width: 6vh;
    min-width: 10px;
    min-height: 10px;
    height: 6vh;
    text-align: center;
    align-items: center;
    vertical-align: middle;
}